<a href="https://colab.research.google.com/github/prasna90/LeetCode-SQL/blob/master/175_Combine_Two_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
```sql
Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |
+-------------+---------+
personId is the primary key column for this table.
This table contains information about the ID of some persons and their first and last names.
 

Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |
+-------------+---------+
addressId is the primary key column for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.
 

Write an SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

The query result format is in the following example.

 

Example 1:

Input: 
Person table:
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
Address table:
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
Output: 
+-----------+----------+---------------+----------+
| firstName | lastName | city          | state    |
+-----------+----------+---------------+----------+
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |
+-----------+----------+---------------+----------+
Explanation: 
There is no address in the address table for the personId = 1 so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2.

```

# SQL Class in python

In [2]:
import pandas as pd

class sqlpy():
    
    def create_table(self,data,cols):
      print(pd.DataFrame(data,columns= cols))
      return pd.DataFrame(data,columns= cols)
    
    def compare_output(self,output,sql_out):
      return pd.concat([output,sql_out]).drop_duplicates(keep=False)

# Solution

In [8]:
# Write your MySQL query statement below

query = """

SELECT P.FIRSTNAME,P.LASTNAME,A.CITY,A.STATE
FROM PERSON AS P
LEFT JOIN ADDRESS AS A
ON A.PERSONID=P.PERSONID;

"""

# Create dataset and objects

In [10]:
prac = sqlpy()

input_data = [[1,"Wang","Allen"],[2,"Alice","Bob"]]
input_cols= ["personId","lastName","firstName"]
PERSON = prac.create_table(input_data,input_cols)

input_data = [[1,2,"New York City","New York"],[2,3,"Leetcode","California"]]
input_cols= ["addressId","personId","city","state"]
ADDRESS = prac.create_table(input_data,input_cols)


output_data = [["Allen", "Wang", "", ""], ["Bob", "Alice", "New York City", "New York"]]
output_cols = ["firstName", "lastName", "city", "state"]
output = prac.create_table(output_data,output_cols)

   personId lastName firstName
0         1     Wang     Allen
1         2    Alice       Bob
   addressId  personId           city       state
0          1         2  New York City    New York
1          2         3       Leetcode  California
  firstName lastName           city     state
0     Allen     Wang
1       Bob    Alice  New York City  New York

#Benchmark Solution

In [6]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-0.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
     |████████████████████████████████| 12.5 MB 7.7 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.5)
Installing collected packages: duckdb
Successfully installed duckdb-0.3.2

In [11]:
import duckdb
sql_out= duckdb.query(query).df()
print(sql_out)

  firstName lastName           city     state
0       Bob    Alice  New York City  New York
1     Allen     Wang            NaN       NaN

In [12]:
output.merge(sql_out,indicator= True, how='left').loc[lambda x : x['_merge']!='both']

  firstName lastName city state     _merge
0     Allen     Wang             left_only

# Submission
```sql
-- Submission
Runtime: 317 ms, faster than 87.39% of MySQL online submissions for Combine Two Tables.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Combine Two Tables.
```