<a href="https://colab.research.google.com/github/prasna90/LeetCode-SQL/blob/master/511_Game_Play_Analysis_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
SQL Schema
Table: Activity
```sql
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
```
(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

Write an SQL query to report the first login date for each player.

Return the result table in any order.

The query result format is in the following example.

 ```sql

Example 1:

Input: 
Activity table:
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
Output: 
+-----------+-------------+
| player_id | first_login |
+-----------+-------------+
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |
+-----------+-------------+
```

# Solution

In [16]:
# Write your MySQL query statement below

query = """
with A as (SELECT player_id , 
           event_date as first_login,
           RANK() OVER(PARTITION BY player_id ORDER BY event_date asc) as freq
           FROM Activity)

SELECT A.player_id,A.first_login
FROM A
WHERE A.freq = 1;
"""

# Create dataset and objects

In [11]:
import pandas as pd

def create_table(data,cols):
  input = pd.DataFrame(data,columns= cols)
  return input

input_data = [[1,2,"2016-03-01",5],[1,2,"2016-05-02",6],[2,3,"2017-06-25",1],[3,1,"2016-03-02",0],[3,4,"2018-07-03",5]]
input_cols= ["player_id","device_id","event_date","games_played"]
input = create_table(input_data,input_cols)

output_data = [[1, "2016-03-01"], [2, "2017-06-25"], [3, "2016-03-02"]]
output_cols = ["player_id", "first_login"]
output = create_table(output_data,output_cols)


print(input)
print(output)

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5
   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

#Benchmark Solution

In [17]:
!pip install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.5)

In [19]:
import duckdb
Activity = input
duckdb.query(query).df()

   player_id first_login
0          3  2016-03-02
1          1  2016-03-01
2          2  2017-06-25

# Submission
```sql
Runtime: 667 ms, faster than 24.56% of MySQL online submissions for Game Play Analysis I.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Game Play Analysis I.
```