<a href="https://colab.research.google.com/github/prasna90/LeetCode-SQL/blob/master/512_Game_Play_Analysis_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
```sql
Table: Activity

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

Write an SQL query to report the device that is first logged in for each player.

Return the result table in any order.

The query result format is in the following example.

 

Example 1:

Input: 
Activity table:
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
Output: 
+-----------+-----------+
| player_id | device_id |
+-----------+-----------+
| 1         | 2         |
| 2         | 3         |
| 3         | 1         |
+-----------+-----------+
```

# SQL Class in python

In [1]:
import pandas as pd

class sqlpy():
    
    def create_table(self,data,cols):
      return pd.DataFrame(data,columns= cols)
    
    def compare_output(self,output,sql_out):
      return pd.concat([output,sql_out]).drop_duplicates(keep=False)

# Solution

In [2]:
# Write your MySQL query statement below

query = """
with A as (
SELECT player_id,
    device_id , 
    RANK() OVER(PARTITION BY player_id ORDER BY event_date asc) as selector
    FROM Activity
)

SELECT player_id,device_id
FROM A
WHERE selector=1;
"""

# Create dataset and objects

In [4]:
prac = sqlpy()

input_data = [[1,2,"2016-03-01",5],[1,2,"2016-05-02",6],[2,3,"2017-06-25",1],[3,1,"2016-03-02",0],[3,4,"2018-07-03",5]]
input_cols= ["player_id","device_id","event_date","games_played"]
input = prac.create_table(input_data,input_cols)


output_data = [[1, 2], [2, 3], [3, 1]]
output_cols = ["player_id", "first_login"]
output = prac.create_table(output_data,output_cols)


print(input)
print(output)

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5
   player_id  first_login
0          1            2
1          2            3
2          3            1

#Benchmark Solution

In [5]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-0.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
     |████████████████████████████████| 12.5 MB 1.6 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.5)
Installing collected packages: duckdb
Successfully installed duckdb-0.3.2

In [6]:
import duckdb
Activity = input
sql_out= duckdb.query(query).df()
print(sql_out)

   player_id  device_id
0          3          1
1          1          2
2          2          3

In [7]:
output.merge(sql_out,indicator= True, how='left').loc[lambda x : x['_merge']!='both']

Empty DataFrame
Columns: [player_id, first_login, device_id, _merge]
Index: []

# Submission
```sql
Runtime: 671 ms, faster than 26.06% of MySQL online submissions for Game Play Analysis II.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Game Play Analysis II.
```