<a href="https://colab.research.google.com/github/prasna90/LeetCode-SQL/blob/master/513_Game_Play_Analysis_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question
```sql
 Table: Activity

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

Write an SQL query to report for each player and date, how many games played so far by the player. That is, the total number of games played by the player until that date. Check the example for clarity.

Return the result table in any order.

The query result format is in the following example.

 

Example 1:

Input: 
Activity table:
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 1         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
Output: 
+-----------+------------+---------------------+
| player_id | event_date | games_played_so_far |
+-----------+------------+---------------------+
| 1         | 2016-03-01 | 5                   |
| 1         | 2016-05-02 | 11                  |
| 1         | 2017-06-25 | 12                  |
| 3         | 2016-03-02 | 0                   |
| 3         | 2018-07-03 | 5                   |
+-----------+------------+---------------------+
Explanation: 
For the player with id 1, 5 + 6 = 11 games played by 2016-05-02, and 5 + 6 + 1 = 12 games played by 2017-06-25.
For the player with id 3, 0 + 5 = 5 games played by 2018-07-03.
Note that for each player we only care about the days when the player logged in.
```

# SQL Class in python

In [4]:
import pandas as pd

class sqlpy():
    
    def create_table(self,data,cols):
      return pd.DataFrame(data,columns= cols)
    
    def compare_output(self,output,sql_out):
      return pd.concat([output,sql_out]).drop_duplicates(keep=False)

# Solution

In [21]:
# Write your MySQL query statement below

query1 = """
SELECT
player_id,
event_date,
sum(games_played) OVER (partition by player_id order by event_date) as games_played_so_far
FROM
Activity
"""

query2 = """
select a.player_id, a.event_date, sum(b.games_played) as games_played_so_far
from activity a join activity b
on a.player_id = b.player_id
where a.event_date >= b.event_date
group by a.player_id, a.event_date
order by a.player_id;

"""

# Create dataset and objects

In [9]:
prac = sqlpy()
join_data =  [[1, 3, "2017-06-25", 1, 1, 2, "2016-03-01", 5], [1, 2, "2016-05-02", 6, 1, 2, "2016-03-01", 5], [1, 2, "2016-03-01", 5, 1, 2, "2016-03-01", 5], [1, 3, "2017-06-25", 1, 1, 2, "2016-05-02", 6], [1, 2, "2016-05-02", 6, 1, 2, "2016-05-02", 6], [1, 2, "2016-03-01", 5, 1, 2, "2016-05-02", 6], [1, 3, "2017-06-25", 1, 1, 3, "2017-06-25", 1], [1, 2, "2016-05-02", 6, 1, 3, "2017-06-25", 1], [1, 2, "2016-03-01", 5, 1, 3, "2017-06-25", 1], [3, 4, "2018-07-03", 5, 3, 1, "2016-03-02", 0], [3, 1, "2016-03-02", 0, 3, 1, "2016-03-02", 0], [3, 4, "2018-07-03", 5, 3, 4, "2018-07-03", 5], [3, 1, "2016-03-02", 0, 3, 4, "2018-07-03", 5]]
join_cols = ["player_id", "device_id", "event_date", "games_played", "player_id", "device_id", "event_date", "games_played"]
print(prac.create_table(join_data,join_cols))

join_with_where = [[1, 2, "2016-03-01", 5, 1, 2, "2016-03-01", 5], [1, 2, "2016-05-02", 6, 1, 2, "2016-03-01", 5], [1, 3, "2017-06-25", 1, 1, 2, "2016-03-01", 5], [3, 1, "2016-03-02", 0, 3, 1, "2016-03-02", 0], [3, 4, "2018-07-03", 5, 3, 1, "2016-03-02", 0]]
print(prac.create_table(join_with_where,join_cols))

    player_id  device_id  event_date  games_played  player_id  device_id  \
0           1          3  2017-06-25             1          1          2
1           1          2  2016-05-02             6          1          2
2           1          2  2016-03-01             5          1          2
3           1          3  2017-06-25             1          1          2
4           1          2  2016-05-02             6          1          2
5           1          2  2016-03-01             5          1          2
6           1          3  2017-06-25             1          1          3
7           1          2  2016-05-02             6          1          3
8           1          2  2016-03-01             5          1          3
9           3          4  2018-07-03             5          3          1
10          3          1  2016-03-02             0          3          1
11          3          4  2018-07-03             5          3          4
12          3          1  2016-03-02             0          3          4

    event_date  games_played
0   2016-03-01             5
1   2016-03-01             5
2   2016-03-01             5
3   2016-05-02             6
4   2016-05-02             6
5   2016-05-02             6
6   2017-06-25             1
7   2017-06-25             1
8   2017-06-25             1
9   2016-03-02             0
10  2016-03-02             0
11  2018-07-03             5
12  2018-07-03             5
   player_id  device_id  event_date  games_played  player_id  device_id  \
0          1          2  2016-03-01             5          1          2
1          1          2  2016-05-02             6          1          2
2          1          3  2017-06-25             1          1          2
3          3          1  2016-03-02             0          3          1
4          3          4  2018-07-03             5          3          1

   event_date  games_played
0  2016-03-01             5
1  2016-03-01             5
2  2016-03-01             5
3  2016-03-02             0
4  2016-03-02             0

In [18]:
prac = sqlpy()

input_data = [[1,2,"2016-03-01",5],[1,2,"2016-05-02",6],[1,3,"2017-06-25",1],[3,1,"2016-03-02",0],[3,4,"2018-07-03",5]]
input_cols= ["player_id","device_id","event_date","games_played"]
input = prac.create_table(input_data,input_cols)


output_data = [[1, "2016-03-01", 5], [1, "2016-05-02", 11], [1, "2017-06-25", 12], [3, "2016-03-02", 0], [3, "2018-07-03", 5]]
output_cols = ["player_id", "event_date", "games_played_so_far"]
output = prac.create_table(output_data,output_cols)


print(input)
print(output)

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          1          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5
   player_id  event_date  games_played_so_far
0          1  2016-03-01                    5
1          1  2016-05-02                   11
2          1  2017-06-25                   12
3          3  2016-03-02                    0
4          3  2018-07-03                    5

#Benchmark Solution

In [13]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-0.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
     |████████████████████████████████| 12.5 MB 24.8 MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.5)
Installing collected packages: duckdb
Successfully installed duckdb-0.3.2

In [23]:
import duckdb
Activity = input
sql_out1= duckdb.query(query1).df()
print(sql_out1)

   player_id  event_date  games_played_so_far
0          3  2016-03-02                  0.0
1          3  2018-07-03                  5.0
2          1  2016-03-01                  5.0
3          1  2016-05-02                 11.0
4          1  2017-06-25                 12.0

In [19]:
output.merge(sql_out1,indicator= True, how='left').loc[lambda x : x['_merge']!='both']

Empty DataFrame
Columns: [player_id, event_date, games_played_so_far, _merge]
Index: []

# Submission
```sql

Query 1:
Runtime: 919 ms, faster than 27.17% of MySQL online submissions for Game Play Analysis III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Game Play Analysis III.


Query 2:
Runtime: 804 ms, faster than 49.42% of MySQL online submissions for Game Play Analysis III.
Memory Usage: 0B, less than 100.00% of MySQL online submissions for Game Play Analysis III.
```